In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Set the path to the folder containing your CSV files
folder_path = R"C:\Users\andre\OneDrive - Alma Mater Studiorum Università di Bologna\University\UniBo\Machine Learning\PR2.20\data"

# List all files in the folder
csv_files = [file for file in os.listdir(folder_path) if file.endswith(".csv") if file != 'InfoComune.csv']

# Create an empty dictionary to store DataFrames
dataframes = {}

# Iterate through each CSV file
for file in csv_files:
    # Extract the file name (excluding .csv)
    df_name = os.path.splitext(file)[0]
    
    # Create the DataFrame and store it in the dictionary
    dataframes[df_name] = pd.read_csv(os.path.join(folder_path, file), header=0, skiprows = [1])

In [3]:
for df in dataframes.values():
    # change missing values to the proper format
    df.replace('---', np.nan, inplace = True)
    # ensure a unique format
    df = df.convert_dtypes()

In [4]:
dataframes['bologna'].columns.values

array(['DATE', '---', '---.1', 'PROV', '---.2', '---.3', 'MET', '---.4',
       '---.5', '---.6', '---.7', '---.8', '---.9', 'AQI_1', '---.10',
       '---.11', '---.12', '---.13', 'AQI_2', '---.14', '---.15',
       '---.16', '---.17', 'CO', '10000', 'ug.m-3', '8h', '---.18',
       '---.19', '---.20', '>TS', '---.21', '---.22', 'NH3', '---.23',
       '---.24', '---.25', '---.26', '---.27', '---.28', '>TS.1',
       '---.29', '---.30', 'NMVOC', '---.31', '---.32', '---.33',
       '---.34', '---.35', '---.36', '>TS.2', '---.37', '---.38', 'NO2',
       '200', 'ug.m-3.1', '1h', '---.39', '---.40', '---.41', '>TS.3',
       '---.42', '---.43', 'NO', '---.44', '---.45', '---.46', '---.47',
       '---.48', '---.49', '>TS.4', '---.50', '---.51', 'O3', '120',
       'ug.m-3.2', '8h.1', '---.52', '---.53', '---.54', '>TS.5',
       '---.55', '---.56', 'PANS', '---.57', '---.58', '---.59', '---.60',
       '---.61', '---.62', '>TS.6', '---.63', '---.64', 'PM10', '50',
       'ug.m-3.3', '24h', '---.65', '---.66', '---.67', '>TS.7', '---.68',
       '---.69', 'PM2.5', '25', 'ug.m-3.4', '24h.1', '---.70', '---.71',
       '---.72', '>TS.8', '---.73', '---.74', 'SO2', '125', 'ug.m-3.5',
       '24h.2', '---.75', '---.76', '---.77', '>TS.9', '---.78', '---.79'],
      dtype=object)

In [5]:
dataframes['bologna']

,DATE,---,---.1,PROV,---.2,---.3,MET,---.4,---.5,---.6,...,SO2,125,ug.m-3.5,24h.2,---.75,---.76,---.77,>TS.9,---.78,---.79
0,2017,1,1,46,194,2586.3,0.34,-3.44,5.83,82.72,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017,1,2,46,194,2586.3,2.27,-2.24,8.13,84.16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017,1,3,46,194,2586.3,1.92,-1.84,6.88,83.48,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017,1,4,46,194,2586.3,2.82,-2.61,9.56,79.68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017,1,5,46,194,2586.3,3.01,-3.44,7.99,51.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,2020,12,27,46,194,2586.3,1.83,-0.08,4.24,60.21,...,1.25,1.24,0.1,1.78,3794,0.77,3809,0,0.,0.
1457,2020,12,28,46,194,2586.3,2.22,-0.17,3.23,77.08,...,0.84,0.84,0.09,1.37,3794,0.51,3809,0,0.,0.
1458,2020,12,29,46,194,2586.3,1.34,-2.66,3.25,73.42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1459,2020,12,30,46,194,2586.3,2.93,0.61,5.29,75.44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1460,2020,12,31,46,194,2586.3,0.94,-3.58,3.04,65.92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# columns to keep the average value only
pollutants = ['CO', 'NH3', 'NMVOC', 'NO2', 'NO', 'O3', 'PANS', 'PM10', 'PM2.5', 'SO2']

# metereological information
met = ['TG', 'TN', 'TX', 'HU', 'PP', 'QQ', 'RR']
met_pos = range(6, 13)
# date values
date = ['YYYY', 'MM', 'DD']
date_pos = list(range(3))

# take a subset of the columns
selected_columns = date + met + pollutants

for df in dataframes.values():
    old_date = df.columns[date_pos]
    old_met = df.columns[met_pos]
    
    df.rename(columns=dict(zip(old_date, date)), inplace=True)
    df.rename(columns=dict(zip(old_met, met)), inplace=True)

In [7]:
dataframes['bologna']

,YYYY,MM,DD,PROV,---.2,---.3,TG,TN,TX,HU,...,SO2,125,ug.m-3.5,24h.2,---.75,---.76,---.77,>TS.9,---.78,---.79
0,2017,1,1,46,194,2586.3,0.34,-3.44,5.83,82.72,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017,1,2,46,194,2586.3,2.27,-2.24,8.13,84.16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017,1,3,46,194,2586.3,1.92,-1.84,6.88,83.48,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017,1,4,46,194,2586.3,2.82,-2.61,9.56,79.68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017,1,5,46,194,2586.3,3.01,-3.44,7.99,51.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,2020,12,27,46,194,2586.3,1.83,-0.08,4.24,60.21,...,1.25,1.24,0.1,1.78,3794,0.77,3809,0,0.,0.
1457,2020,12,28,46,194,2586.3,2.22,-0.17,3.23,77.08,...,0.84,0.84,0.09,1.37,3794,0.51,3809,0,0.,0.
1458,2020,12,29,46,194,2586.3,1.34,-2.66,3.25,73.42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1459,2020,12,30,46,194,2586.3,2.93,0.61,5.29,75.44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1460,2020,12,31,46,194,2586.3,0.94,-3.58,3.04,65.92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
selected_columns = date + met + pollutants

for province, df in dataframes.items():
    # Keep only selected columns
    dataframes[province] = df[selected_columns]

In [9]:
dataframes['bologna']

,YYYY,MM,DD,TG,TN,TX,HU,PP,QQ,RR,CO,NH3,NMVOC,NO2,NO,O3,PANS,PM10,PM2.5,SO2
0,2017,1,1,0.34,-3.44,5.83,82.72,1023.09,60.94,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017,1,2,2.27,-2.24,8.13,84.16,1018.51,60.34,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017,1,3,1.92,-1.84,6.88,83.48,1018.54,51.30,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017,1,4,2.82,-2.61,9.56,79.68,1012.73,73.41,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017,1,5,3.01,-3.44,7.99,51.05,1015.32,70.92,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,2020,12,27,1.83,-0.08,4.24,60.21,1009.94,55.89,7.43,230.37,3.99,16.54,11.98,1.67,62.43,0.87,12.86,10.69,1.25
1457,2020,12,28,2.22,-0.17,3.23,77.08,990.34,0.00,18.34,228.37,2.54,19.26,11.950000000000001,2.15,51.54,1.03,11.55,9.38,0.84
1458,2020,12,29,1.34,-2.66,3.25,73.42,998.60,17.23,7.78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1459,2020,12,30,2.93,0.61,5.29,75.44,1004.80,36.44,0.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1460,2020,12,31,0.94,-3.58,3.04,65.92,1010.48,51.92,4.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# create a date variable for all the dataframes
for province, df in dataframes.items():
    # Combine 'YYYY', 'MM', 'DD' columns into a new 'date' column
    df['date'] = pd.to_datetime(df[['YYYY', 'MM', 'DD']].astype(str).agg('-'.join, axis=1), format='%Y-%m-%d')
    
    # Remove 'YYYY', 'MM', 'DD' columns
    df.drop(['YYYY', 'MM', 'DD'], axis=1, inplace=True)
    
    # Reorder columns with 'date' as the first column
    dataframes[province] = df[['date'] + [col for col in df.columns if col != 'date']]

C:\Users\andre\AppData\Local\Temp\ipykernel_8260\73831375.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = pd.to_datetime(df[['YYYY', 'MM', 'DD']].astype(str).agg('-'.join, axis=1), format='%Y-%m-%d')
C:\Users\andre\AppData\Local\Temp\ipykernel_8260\73831375.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(['YYYY', 'MM', 'DD'], axis=1, inplace=True)

In [11]:
dataframes['bologna']

,date,TG,TN,TX,HU,PP,QQ,RR,CO,NH3,NMVOC,NO2,NO,O3,PANS,PM10,PM2.5,SO2
0,2017-01-01,0.34,-3.44,5.83,82.72,1023.09,60.94,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-01-02,2.27,-2.24,8.13,84.16,1018.51,60.34,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-01-03,1.92,-1.84,6.88,83.48,1018.54,51.30,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-01-04,2.82,-2.61,9.56,79.68,1012.73,73.41,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-01-05,3.01,-3.44,7.99,51.05,1015.32,70.92,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,2020-12-27,1.83,-0.08,4.24,60.21,1009.94,55.89,7.43,230.37,3.99,16.54,11.98,1.67,62.43,0.87,12.86,10.69,1.25
1457,2020-12-28,2.22,-0.17,3.23,77.08,990.34,0.00,18.34,228.37,2.54,19.26,11.950000000000001,2.15,51.54,1.03,11.55,9.38,0.84
1458,2020-12-29,1.34,-2.66,3.25,73.42,998.60,17.23,7.78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1459,2020-12-30,2.93,0.61,5.29,75.44,1004.80,36.44,0.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1460,2020-12-31,0.94,-3.58,3.04,65.92,1010.48,51.92,4.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
numerics = met + pollutants

for province, df in dataframes.items():
    # first convert to numeric the columns in met and pollutants as they are strings
    df[numerics] = df[numerics].apply(pd.to_numeric, errors = 'coerce')
    # round to the second decimal number for better visualization
    df[numerics] = df[numerics].round(2)

In [13]:
dataframes['bologna']

,date,TG,TN,TX,HU,PP,QQ,RR,CO,NH3,NMVOC,NO2,NO,O3,PANS,PM10,PM2.5,SO2
0,2017-01-01,0.34,-3.44,5.83,82.72,1023.09,60.94,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-01-02,2.27,-2.24,8.13,84.16,1018.51,60.34,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-01-03,1.92,-1.84,6.88,83.48,1018.54,51.30,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-01-04,2.82,-2.61,9.56,79.68,1012.73,73.41,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-01-05,3.01,-3.44,7.99,51.05,1015.32,70.92,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,2020-12-27,1.83,-0.08,4.24,60.21,1009.94,55.89,7.43,230.37,3.99,16.54,11.98,1.67,62.43,0.87,12.86,10.69,1.25
1457,2020-12-28,2.22,-0.17,3.23,77.08,990.34,0.00,18.34,228.37,2.54,19.26,11.95,2.15,51.54,1.03,11.55,9.38,0.84
1458,2020-12-29,1.34,-2.66,3.25,73.42,998.60,17.23,7.78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1459,2020-12-30,2.93,0.61,5.29,75.44,1004.80,36.44,0.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1460,2020-12-31,0.94,-3.58,3.04,65.92,1010.48,51.92,4.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
# we wanna filter the series so that we don't have missing values
# We'll start from 2018-01-01 and move until 2020-12-28

for province, df in dataframes.items():
    df = df[(df['date'] >= pd.to_datetime('2018-01-01')) & (df['date'] <= pd.to_datetime('2020-12-28'))]

    dataframes[province] = df

In [15]:
dataframes['bologna']

,date,TG,TN,TX,HU,PP,QQ,RR,CO,NH3,NMVOC,NO2,NO,O3,PANS,PM10,PM2.5,SO2
365,2018-01-01,2.56,0.72,5.21,89.68,1010.06,55.67,14.55,279.02,4.70,38.98,27.53,3.40,45.20,1.35,14.09,12.18,0.94
366,2018-01-02,5.72,0.85,12.24,62.08,1014.08,66.85,0.00,211.39,1.73,23.04,14.98,1.28,63.30,1.02,7.95,7.18,0.75
367,2018-01-03,4.29,-0.64,10.09,69.59,1009.39,49.55,0.00,183.96,2.55,15.44,14.22,2.61,58.03,0.95,5.60,4.62,0.81
368,2018-01-04,5.43,1.37,11.43,77.28,1007.18,28.97,0.00,199.80,4.41,22.33,18.60,2.56,58.51,1.16,6.13,5.03,0.81
369,2018-01-05,3.99,-0.34,7.68,90.99,1009.00,29.71,0.06,245.57,5.93,40.33,26.05,6.63,37.42,0.77,14.05,11.18,0.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1453,2020-12-24,6.79,5.13,7.09,52.88,704.71,38.34,-2.81,297.08,2.21,26.29,16.18,2.73,52.89,0.76,18.66,15.55,0.69
1454,2020-12-25,6.38,3.18,8.38,74.38,1008.66,58.28,5.81,255.38,0.97,31.96,14.37,3.54,56.67,0.70,15.28,11.48,0.66
1455,2020-12-26,5.73,2.15,9.54,60.76,1016.15,54.44,0.00,230.74,5.17,22.77,16.97,2.76,55.74,0.73,10.74,9.47,1.17
1456,2020-12-27,1.83,-0.08,4.24,60.21,1009.94,55.89,7.43,230.37,3.99,16.54,11.98,1.67,62.43,0.87,12.86,10.69,1.25
1457,2020-12-28,2.22,-0.17,3.23,77.08,990.34,0.00,18.34,228.37,2.54,19.26,11.95,2.15,51.54,1.03,11.55,9.38,0.84

In [16]:
# we still have 1 missing value
dataframes['bologna'].isnull().sum()

date     0
TG       0
TN       0
TX       0
HU       0
PP       0
QQ       0
RR       0
CO       1
NH3      1
NMVOC    1
NO2      1
NO       1
O3       1
PANS     1
PM10     1
PM2.5    1
SO2      1
dtype: int64

In [17]:
# the missing value is the 29th of February
dataframes['bologna'][dataframes['bologna'].isnull().any(axis=1)]

,date,TG,TN,TX,HU,PP,QQ,RR,CO,NH3,NMVOC,NO2,NO,O3,PANS,PM10,PM2.5,SO2
1154,2020-02-29,6.63,2.46,10.37,40.41,1016.39,114.34,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='median')

for province, df in dataframes.items():
    df[numerics] = imputer.fit_transform(df[numerics])
    
    dataframes[province] = df

C:\Users\andre\AppData\Local\Temp\ipykernel_8260\770697346.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[numerics] = imputer.fit_transform(df[numerics])

In [19]:
dataframes['bologna']

,date,TG,TN,TX,HU,PP,QQ,RR,CO,NH3,NMVOC,NO2,NO,O3,PANS,PM10,PM2.5,SO2
365,2018-01-01,2.56,0.72,5.21,89.68,1010.06,55.67,14.55,279.02,4.70,38.98,27.53,3.40,45.20,1.35,14.09,12.18,0.94
366,2018-01-02,5.72,0.85,12.24,62.08,1014.08,66.85,0.00,211.39,1.73,23.04,14.98,1.28,63.30,1.02,7.95,7.18,0.75
367,2018-01-03,4.29,-0.64,10.09,69.59,1009.39,49.55,0.00,183.96,2.55,15.44,14.22,2.61,58.03,0.95,5.60,4.62,0.81
368,2018-01-04,5.43,1.37,11.43,77.28,1007.18,28.97,0.00,199.80,4.41,22.33,18.60,2.56,58.51,1.16,6.13,5.03,0.81
369,2018-01-05,3.99,-0.34,7.68,90.99,1009.00,29.71,0.06,245.57,5.93,40.33,26.05,6.63,37.42,0.77,14.05,11.18,0.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1453,2020-12-24,6.79,5.13,7.09,52.88,704.71,38.34,-2.81,297.08,2.21,26.29,16.18,2.73,52.89,0.76,18.66,15.55,0.69
1454,2020-12-25,6.38,3.18,8.38,74.38,1008.66,58.28,5.81,255.38,0.97,31.96,14.37,3.54,56.67,0.70,15.28,11.48,0.66
1455,2020-12-26,5.73,2.15,9.54,60.76,1016.15,54.44,0.00,230.74,5.17,22.77,16.97,2.76,55.74,0.73,10.74,9.47,1.17
1456,2020-12-27,1.83,-0.08,4.24,60.21,1009.94,55.89,7.43,230.37,3.99,16.54,11.98,1.67,62.43,0.87,12.86,10.69,1.25
1457,2020-12-28,2.22,-0.17,3.23,77.08,990.34,0.00,18.34,228.37,2.54,19.26,11.95,2.15,51.54,1.03,11.55,9.38,0.84

In [20]:
dataframes['bologna'].isnull().sum()

date     0
TG       0
TN       0
TX       0
HU       0
PP       0
QQ       0
RR       0
CO       0
NH3      0
NMVOC    0
NO2      0
NO       0
O3       0
PANS     0
PM10     0
PM2.5    0
SO2      0
dtype: int64