In [31]:
import os
import pandas as pd

In [32]:
# Set the path to the folder containing your CSV files
folder_path = R"C:\Users\andre\OneDrive - Alma Mater Studiorum Università di Bologna\University\UniBo\Machine Learning\PR2.20\data"

# List all files in the folder
csv_files = [file for file in os.listdir(folder_path) if file.endswith(".csv") if file != 'InfoComune.csv']

# Create an empty dictionary to store DataFrames
dataframes = {}

# Iterate through each CSV file
for file in csv_files:
    # Extract the file name (excluding .csv)
    df_name = os.path.splitext(file)[0]
    
    # Create the DataFrame and store it in the dictionary
    dataframes[df_name] = pd.read_csv(os.path.join(folder_path, file), header=1, skiprows = 0)

In [33]:
dataframes['bologna']

,YYYY,MM,DD,COM,GP,A[km2],TG,TN,TX,HU,...,Av.11,Median.9,StDev.9,Max.11,COMx.11,Min.11,COMn.11,GP.10,A[km2].10,A[%].9
0,2017,1,1,46,194,2586.3,0.34,-3.44,5.83,82.72,...,---,---,---,---,---,---,---,---,---,---
1,2017,1,2,46,194,2586.3,2.27,-2.24,8.13,84.16,...,---,---,---,---,---,---,---,---,---,---
2,2017,1,3,46,194,2586.3,1.92,-1.84,6.88,83.48,...,---,---,---,---,---,---,---,---,---,---
3,2017,1,4,46,194,2586.3,2.82,-2.61,9.56,79.68,...,---,---,---,---,---,---,---,---,---,---
4,2017,1,5,46,194,2586.3,3.01,-3.44,7.99,51.05,...,---,---,---,---,---,---,---,---,---,---
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,2020,12,27,46,194,2586.3,1.83,-0.08,4.24,60.21,...,1.25,1.24,0.1,1.78,3794,0.77,3809,0,0.,0.
1457,2020,12,28,46,194,2586.3,2.22,-0.17,3.23,77.08,...,0.84,0.84,0.09,1.37,3794,0.51,3809,0,0.,0.
1458,2020,12,29,46,194,2586.3,1.34,-2.66,3.25,73.42,...,---,---,---,---,---,---,---,---,---,---
1459,2020,12,30,46,194,2586.3,2.93,0.61,5.29,75.44,...,---,---,---,---,---,---,---,---,---,---
1460,2020,12,31,46,194,2586.3,0.94,-3.58,3.04,65.92,...,---,---,---,---,---,---,---,---,---,---

In [34]:
for df in dataframes:
    # change missing values to the proper format
    dataframes[df].replace('---', pd.NA, inplace = True)
    # ensure a unique format
    dataframes[df] = dataframes[df].convert_dtypes()

In [35]:
dataframes['bologna']

,YYYY,MM,DD,COM,GP,A[km2],TG,TN,TX,HU,...,Av.11,Median.9,StDev.9,Max.11,COMx.11,Min.11,COMn.11,GP.10,A[km2].10,A[%].9
0,2017,1,1,46,194,2586.3,0.34,-3.44,5.83,82.72,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,2017,1,2,46,194,2586.3,2.27,-2.24,8.13,84.16,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,2017,1,3,46,194,2586.3,1.92,-1.84,6.88,83.48,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,2017,1,4,46,194,2586.3,2.82,-2.61,9.56,79.68,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,2017,1,5,46,194,2586.3,3.01,-3.44,7.99,51.05,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,2020,12,27,46,194,2586.3,1.83,-0.08,4.24,60.21,...,1.25,1.24,0.1,1.78,3794,0.77,3809,0,0.,0.
1457,2020,12,28,46,194,2586.3,2.22,-0.17,3.23,77.08,...,0.84,0.84,0.09,1.37,3794,0.51,3809,0,0.,0.
1458,2020,12,29,46,194,2586.3,1.34,-2.66,3.25,73.42,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1459,2020,12,30,46,194,2586.3,2.93,0.61,5.29,75.44,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1460,2020,12,31,46,194,2586.3,0.94,-3.58,3.04,65.92,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>